worker_processes auto;
events {
    worker_connections 1024;
}
http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile        on;
    keepalive_timeout  65;
    server {
        listen 80;
        server_name _;
        root /usr/share/nginx/html;
        index index.html;
    }
    # :repeat: Reverse proxy Netdata
    upstream backend_netdata {
        server {{ hostvars['u21.local']['ansible_host'] }}:19999;
    }
    server {
        listen 19999;
        location / {
            proxy_pass http://backend_netdata;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection 'upgrade';
            proxy_set_header Host $host;
            proxy_cache_bypass $http_upgrade;
        }
    }
}









