worker_processes 1;

events {
    worker_connections 1024;
}

http {
    upstream backend_netdata {
        server 44.210.117.103:19999;  # backend u21.local IP and port
    }

    server {
        listen 80;

        location / {
            proxy_pass http://backend_netdata;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection 'upgrade';
            proxy_set_header Host $host;
            proxy_cache_bypass $http_upgrade;
        }
    }
}
